<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head')%>
  </head>
  <body>
    <header>
      <%- include('../layout/header')%>
    </header>
    <section>
      <article>
        <h4>Task: <%=task.title%></h4>
        <p>description: <%= task.description%></p>
        <p>Contact Person: <%=task.contact%></p>
        <p>Status: <%=task.status%></p>
        <p>Category: <%= task.category%></p>
        <p>Complete by <%= task.due%></p>
      </article>
    </section>
  </body>
</html>
