<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head')%>
  </head>
  <body>
    <header>
      <%- include('./layout/header')%>
    </header>
    <main>
      <section>
        <%tasks.forEach(task =>{%>
        <article>
          <h4>TASK: <span><%=task.title%></span></h4>
          <p>Completion Status: <%= task.status%></p>
          <a class="taskBtn" href="/tasks/<%=task.id%>">View Details</a>
          <!-- /tsks/1 -->
        </article>
        <% }) %>
      </section>
    </main>
  </body>
</html>
